#qna {
	width: 50%;
	min-height: 900px;
	margin: auto;
	margin-top: 1%;
	background-color: #EAD9C3;
	padding: 1% 5% 5% 5%;
	border-radius: 20px;
}

.qBox {
	text-align: center;
	font-size: 36px;
	color: #6D4C41;
}

.answerList {
	background-color: #D1B9A5;
	color: #6D4C41;
	border-radius: 20px;
	display: block;
	width: 80%;
	margin: auto;
	border: 0px;
	font-size: 21px;
}

.answerList:hover, .answerList:focus {
	background-color: #6D4C41;
	color: white;
}

.status {
	height: 20px;
	width: 100%;
	background-color: lightgray;
	border-radius: 20px;
}

.statusCount{
	font-size: 28px;
	color: #6D4C41;
}
.statusBar {
	height: 100%;
	border-radius: 20px;
	background-color: #6D4C41;
}