/* 리스트 헤더 */
.adopt_header {
	width: 100%;
	height: 200px;
	background-color: #f4f2ee;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.adopt_nav {
	position: absolute;
	top: 10px;
	left: 27%;
}

/* 게시판 */
.container {
  max-width: 800px;
  margin: 5% auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.review_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.review_header h1 {
  font-size: 24px;
  color: #001F3F;
}
.filter_area {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin: 30px 15px;
}
.search_bar {
  width: 70%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.filter {
  width: 15%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}


.review_list {
  margin-bottom: 20px;
}
.review {
	display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    transition: transform 0.2s;
    margin: 15px 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.review:hover {
    transform: scale(1.02);
    cursor: pointer;
}
.review_content {
    flex: 1;
}
.review_thumbnail {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 5px;
    margin-left: 15px;
}
.review_title {
  font-size: 20px;
  margin-bottom: 10px;
  color: #001F3F;
}
.review_info {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}
.review_info img{
	margin-bottom: 5px;
	width: 16px;
}
.review_excerpt {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}

/* 페이징처리 */
.pagination {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    margin: auto;
}
.pagination li>a{
	width: 50px;
	height: auto;
	color: black;
	text-align: center;
	margin-right: 10px;
}
.pagination li>a:hover {
    background-color: #001F3F;
    color: white;
}
.current-page a{
	color: black;
	background: lightgray;
	cursor: auto;
}