/* 전체설정 */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Jua", sans-serif;
	scroll-behavior: smooth;
}
body {
	background-color: #f4f4f9;
	color: #333;
}
a {
	text-decoration: none;
}
li {
	list-style-type: none;
}

/* 헤더 */
.hbody {
	background-color: #fff;
	width: 100%;
	height: 130px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	position: relative;
}
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #001F3F;
}
/* 로고 */
.logo>img {
	width: 330px;
	height: 130px;
}
/* 메뉴 */
.menu {
	height: 130px;
}
.menu>ul {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
.menu>ul>li {	
	width: 160px;
	height: 100%;
	transition: all 0.5s ease;
}
.menu>ul>li>p {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	transition: color 0.3s;
	font-size: 24px;
}
.menu>ul>li:hover {
	background-color: #001F3F;
	border-radius: 20px;
	color: #fff;
}
.menu>ul>li>p:hover {
	color: #fff;
	cursor: pointer;
}
.menu>ul>li:hover .submenu {
	display: flex;
}

/* 서브메뉴 */
.submenu {
	display: none;
	position: absolute;
	top: 130px;
	left: 0;
	width: 100%;
	height: 300px;
	background-color: #e9eaf1;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	padding: 20px;
	justify-content: center;
	align-items: center;
	z-index: 10;
	transition: top 0.3s;
}
.submenu h1 {
	color: #001F3F;
	margin: -200px 100px 0px -300px;
	font-size: 40px;
}
.submenu>ul>li {
	border-radius: 20px;
	text-align: center;
	justify-content: center;
	align-items: center;
	width: 140px;
	margin-bottom: 30px;
}
.submenu>ul>li>a {
	font-size: 24px;
	color: #007bff;
}
.submenu>ul>li a:hover {
	font-weight: bold;
}

/* 로그인 버튼 */
.login-area {
	text-align: right;
	margin-right: 50px;
	height: 100%;
}
.login-button {
	background-color: #fff;
	text-align: center;
	color: #001F3F;
	padding: 10px 20px;
	margin-left: 20px;
	border: 2px solid #001F3F;
	border-radius: 5px;
	font-size: 18px;
	font-weight: 900;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s, transform 0.2s;
}
.login-button:hover {
	background-color: #001F3F;
	color: white;
	transform: translateY(-2px);
}

/* 사이드 바 */

.tothetop {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 70%;
    right: 90px;
    cursor: pointer;
    color: #333;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-weight: 900;
    z-index: 9999; 
}

/*화면 크기 1490이하*/
@media screen and (max-width: 1490px) {
	.menu {
		display: none;
	}
	.tothetop{
		display: none;
	}
}
/*화면 크기 800이하*/
@media screen and (max-width: 800px) {
	.login-area {
		display: none;
	}
}